@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Image Retrieval</h1>
<div class="row" ng-app="app" ng-controller="ctrl">
    <div class="col-sm-6">
        <form name='imgForm' ng-submit="GetImage(imgForm)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{'has-error': error.internalError || error.url || imgForm.imageUrl.$dirty && imgForm.imageUrl.$invalid, 'has-success': !error.internalError && !error.url && imgForm.imageUrl.$valid}">
                    <input name="imageUrl" type="url" class="form-control" ng-model="imageUrl" required placeholder="Enter image URL" />
                    <p class="help-block error" ng-show="imgForm.imageUrl.$dirty && imgForm.imageUrl.$error.required">Please enter the URL path to the image.</p>
                    <p class="help-block error" ng-show="imgForm.imageUrl.$error.url">Please enter a valid URL.</p>
                    <p class="help-block error" ng-repeat="(key, errMsg) in error.url" ng-show="error.url">{{errMsg}}</p>
                    <p class="help-block error" ng-show="error.internalError">An unknown error occurred, please try again later.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="formLoading || imgForm.$invalid">
                    <span ng-show="formLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    <span ng-if="formLoading">Loading...</span>
                    <span ng-if="!formLoading">Submit</span>
                </button>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-6" id="response">
        <div class="card">
            <img class="card-img-top img-thumbnail" ng-src="{{image.imageSource}}" ng-if="!!image.imageSource" alt="">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <strong class="mb-1">Format</strong>
                        <div class="mb-1">{{image.format}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Color Space</strong>
                        <div class="mb-1">{{image.colorSpace}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Compression</strong>
                        <div class="mb-1">{{image.compression}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Quality</strong>
                        <div class="mb-1">{{image.quality}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Density</strong>
                        <div class="mb-1" ng-if="!!image.densityX || !!image.densityY">{{image.densityX}}{{image.densityUnits}} x {{image.densityY}}{{image.densityUnits}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Height</strong>
                        <div class="mb-1">{{image.height}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Width</strong>
                        <div class="mb-1">{{image.width}}</div>
                    </div>
                    <div class="list-group-item">
                        <strong class="mb-1">Interlace</strong>
                        <div class="mb-1">{{image.interlace}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

